# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.PortShoot.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sbirj\OneDrive\Documents\Unreal Projects\PortShoot\.idea\.idea.PortShoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
